.App {
    font-family: sans-serif;
    text-align: center;
}

h1,
h2 {
    margin: 10px 0;
}

.error {
    color: red;
}

.counter-group {
    margin: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
}


.counter {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}