.answer {
    font: 15px;
    font-weight: bold;
    background-color: white;
    height: 40px;
    width: 96%;
}

.button {
    background-color: rgb(224, 224, 224);
    color: black;
    width: 100%;
    min-width: 60px;
    height: 50px;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(245, 146, 62);
}